.slideshow {
  &:before {
    @include box-shadow;

    background-color: $white;
    content: '';
    position: absolute;
    top: 40px;
    height: 60%;
    width: 100%;
  }

  &__slide {
    height: 150px;
    width: 235px;

    @include media-xs {
      height: 200px;
      width: 310px;
    }

    &--1 {
      height: 295px;
      width: 170px;

      @include media-xs {
        height: 370px;
        width: 245px;
      }
    }
  }

  &__slide-img {
    img {
      height: 150px !important;

      @include media-xs {
        height: 200px !important;
      }
    }
  }

  .swiper {
    padding-bottom: 110px;
  }

  .swiper-pagintion {
    bottom: 0;
    position: absolute;
    z-index: 9;
  }

  .swiper-pagination-bullet {
    padding: 2px 0;
    background-color: $black-100;
    border-radius: 6px;
    height: 1px;
    opacity: .1;
    width: 16px;
    transition: $basic-transition;

    &-active {
      background-color: $primary;
      box-shadow: unset;
      opacity: 1;
      height: 6px;
      width: 25px;
    }
  }
}
