.timeline {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  .swiper {
    padding-top: 128px;
    height: 100%;
    position: unset;
  }

  .swiper-pagination {
    align-items: center;
    bottom: -40px !important;
    display: flex;
    position: absolute;
  }

  .swiper-pagination-bullet {
    padding: 2px 0;
    background-color: $black-100;
    border-radius: 6px;
    height: 1px;
    opacity: .1;
    width: 16px;
    transition: $basic-transition;

    &-active {
      background-color: $primary;
      box-shadow: unset;
      opacity: 1;
      height: 6px;
      width: 25px;
    }
  }

  &__line {
    top: -28px;
    font-family: $raleway;

    &:after {
      position: absolute;
      background-color: $primary;
      content: '';
      height: 2px;
      top: 10px;
      left: 0;
      width: 90%;
    }

    &--first {
      &:after {
        left: 60px;
      }
    }

    &--last {
      max-width: 1085px;

      &:after {
        width: 93%;
      }
    }

    span {
      padding-left: 10px;
      background-color: $white;
      z-index: 10;
    }
  }

  &__slide {
    img {
      transition: $basic-transition;
    }

    span {
      border-radius: 8px;
    }

    &:hover {
      img {
        filter: blur(10px);
      }

      span {
        border-radius: 8px;
      }
    }

    &--1 {
      width: 735px;
    }

    &--2 {
      width: 535px;
    }

    &--3 {
      width: 800px;
    }
  }
}
