.work-infographic {
  margin-bottom: 160px;

  &__title {
    &:after {
      background-color: $primary;
      bottom: -5px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
