// Typography
h1 {
  font-family: $creation;
  font-size: 28px;

  @include media-md {
    font-size: 38px;
  }
}

h2 {
  font-family: $raleway;
  font-size: 14px;

  @include media-lg {
    font-size: 18px;
  }
}

h3 {
  font: {
    family: $raleway;
    size: 12px;
    weight: $regular;
  }

  @include media-lg {
    font-size: 16px;
  }
}

p {
  font-family: $roboto;
  font-size: 14px;

  @include media-md {
    font-size: 16px;
  }
}

a {
  color: $primary;
  transition: $basic-transition;

  &:hover {
    color: $primary-dark;
  }
}
