// Colors
// Main Colors
$primary: #000;
$primary_dark: #000;
$secondary: #fff;
$secondary_dark: #fff;

// Additional Colors
$white: #fff;

// Font Weights
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Breakpoints
$xs : 640px;
$s : 768px;
$md : 1024px;
$lg : 1280px;
$xl : 1600px;

// Fonts
