// Colors
// Main Colors
$primary: #90DDFF;
$primary-dark: #0074D9;

// Additional Colors
$black: #000;
$black-100: #4E4E4E;
$white: #fff;
$grey: #B4B4B4;
$orange: #E36F1E;
$red: #ed1c24;

// Font Weights
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Breakpoints
$xs : 640px;
$s : 768px;
$md : 1024px;
$lg : 1280px;
$xl : 1440px;

// Fonts
$creation : 'Creation', sans-serif;
$roboto : 'Roboto', sans-serif;
$raleway : 'Raleway', sans-serif;
