body {
  padding-top: 82px;
  overflow-x: hidden;

  @include media-md {
    padding-top: 97px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @include media-md {
    padding: 0 60px;
    max-width: 1720px;
  }
}
